<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<title>Sign up</title>
	<link rel='stylesheet' href='../css/main.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>
	<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
</head>

<body>
	<section>
		<div class="chevron">
			<i class="material-icons">chevron_left</i>
		</div>
		<div id='sign' class='center-align'>
			<h2>Sign Up</h2>
			<p>Join now for free ride credit</p>
			<hr>
			<div class='container'>
				<div class='row'>
					<div class='select-sign col s2 offset-s1 m6'>
						<img class='select-country' src='../assets/images/mexico.jpg' alt=''>
						<ul class='desactive col s3'>
							<li class="mexico">
								<img src='../assets/images/mexico.jpg' alt=''>
							</li>
							<li class="venezuela">
								<img src='../assets/images/venezuela.png' alt=''>
							</li>
							<li class="peru">
								<img src='../assets/images/peru.png' alt=''>
							</li>
							<li class="us">
								<img src='../assets/images/us.png' alt=''>
							</li>
						</ul>
					</div>
					<div class='col s6 offset-s4'>
						<input class='input-one' type='number' placeholder="   Phone">
					</div>
					<div class='col s12 sign-button next'>
						<p> We'll send a text to verify your phone</p>
						<button class='btn-sign  disable' disabled>NEXT</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js'></script>
	<script src='../js/app.js'></script>
</body>

</html>